/*
* CSS for the lightbox
*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#lightbox {
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.4);
    width: auto;
    height: auto;
    top: 25%;
    left: 25%;
}

#lightboxContent {
    border-radius:8px;
    background:#fff;
    padding:20px;
    min-width: 600px;
}
#close {
    position:absolute;
    background:url(close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-15px;
    right:-20px;
}
